---
layout: default
title: Download | Preuzimanja
excerpt: Energoglobal vam nudi najbolji kvalitet uz najpovoljnije cene benzinskih i dizel elektro agregata. Pored proizvodnje i prodaje novih i repariranih polovnih elektro agregata vršimo usluge rentiranja sa mogućnošću instalacije, prevoza na objekat i stalnog prisustva stručnog lica
tags: agregat,agregati,dizel agregat,dizel agregati,rezervno napajanje,ups,rentiranje,iznajmljivanje,elektro agregat,elektro agregati,downlaod,preuzimanja,perkins,iveco,volvo,penta,fpt,doosan
---
<div class="career">
  <div class="row">
    <div class="col-md-12">
      <!-- Careers Here -->
      <div class="hero">
        <!-- Title. Don't forget the <span> tag -->
          <h1><span>Download / Preuzimanja</span></h1>
          <!-- para -->
          <p>
            Ispod možete pronaći tehničke podatke agregata.
          </p>
        </div>
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <div class="support-page">
              <div id="form"></div>
              <!-- Lists -->
              <ul id="slist" class="inner-slist">
                <!-- List #1 -->
                {% directory path: assets/download %}
                <li>
                  <!-- Title -->
                  <i class="fa fa-angle-right"></i>
                  <a href="#" class="sla">{{ file.slug }}</a>
                  <!-- Para -->
                  <p>
                    <a href="{{ file.url }}" target="_blank">
                      <i class="fa fa-download"></i>
                      Preuzmi
                    </a>
                  </p>
                </li>
                {% enddirectory %}
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <!-- Contact box -->
            <div class="scontact">
              <!-- Title -->
              <h4>Napomena</h4>
              <!-- Phone, email and address with font awesome icon -->
              <p>
                <i class="fa fa-info-circle"></i> Energoglobal doo zadržava pravo izmene tehničkih podataka u cilju unapređenja proizvoda bez prethodno najave.
              </p>
              <p>
                Za sve dodatne informacije, sugestije, rokove isporuke stojimo Vam na raspolaganju.
              </p>
              <i class="fa fa-phone"></i> Telefon<strong>:</strong> +381 21 499315<br>
              <i class="fa fa-envelope-o"></i> Email<strong>:</strong> prodaja@energoglobal.com<br>
              <!-- Button -->
              <div class="button"><a href="kontakt.html">Kontakt</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
{% include clients.html %}
