---
layout: default
title: Kontakt
excerpt: Energoglobal vam nudi najbolji kvalitet uz najpovoljnije cene benzinskih i dizel elektro agregata. Pored proizvodnje i prodaje novih i repariranih polovnih elektro agregata vršimo usluge rentiranja sa mogućnošću instalacije, prevoza na objekat i stalnog prisustva stručnog lica
tags: agregat,agregati,dizel agregat,dizel agregati,rezervno napajanje,ups,rentiranje,iznajmljivanje,elektro agregat,elektro agregati,kontakt,email,adresa
---

<!-- Contact hero -->
<div class="hero">
  <!-- Title. Don't forget the <span> tag -->
  <h1><span>Kontakt</span></h1>
  <!-- para -->
  <p>.</p>
</div>
<!-- Contact -->
<div class="contact">
  <div class="row">
    <div class="col-md-12">
      <!-- Google maps -->
      <div class="gmap">
        <!-- Google Maps embed code -->
        <iframe
          height="300"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5618.867397159607!2d19.70930393650818!3d45.23902204612734!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x28a4313511e01747!2sEnergoglobal+LLC!5e0!3m2!1sen!2s!4v1429022205268"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="cwell">
        <!-- Address -->
        <h5>Adresa</h5>
        <hr />
        <div class="address">
          <address>
            <!-- Company name -->
            <strong>Energoglobal doo</strong><br />
            <!-- Address -->
            Fruškogorska 57<br />
            21410 Futog - Novi Sad grad<br />
            PAK 408428<br />
            <!-- Phone number -->
            <abbr title="Telefon">T:</abbr> +381 21 499315<br />
            <!-- Fax number -->
            <abbr title="Faks">F:</abbr> +381 21 499315
          </address>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="cwell">
        <!-- Contacts -->
        <h5>Kontakti</h5>
        <hr />
        <div class="address">
          <address>
            <!-- Name -->
            <strong>Prodaja</strong><br />
            <!-- Email -->
            <a href="mailto:prodaja@energoglobal.com"
              >prodaja@energoglobal.com</a
            >
          </address>

          <address>
            <!-- Name -->
            <strong>Izvoz / Export</strong><br />
            <!-- Email -->
            <a href="mailto:export@energoglobal.com">export@energoglobal.com</a>
          </address>

          <address>
            <!-- Name -->
            <strong>Servis</strong><br />
            <!-- Email -->
            <a href="mailto:servis@energoglobal.com">servis@energoglobal.com</a>
          </address>

          <!-- Social media icons -->
          <strong>Socijalne mreže:</strong>
          <div class="social">
            <a href="https://www.facebook.com/energoglobaldoo/"
              ><i class="fa fa-facebook facebook"></i
            ></a>
            <a href="https://twitter.com/energoglobal"
              ><i class="fa fa-twitter twitter"></i
            ></a>
            <a href="http://www.linkedin.com/company/energoglobal-doo"
              ><i class="fa fa-linkedin linkedin"></i
            ></a>
            <a href="https://plus.google.com/+Energoglobal" rel="publisher"
              ><i class="fa fa-google-plus google-plus"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
