---
layout: default
title: Prenosni super tihi agregati
excerpt: Energoglobal vam nudi najbolji kvalitet uz najpovoljnije cene benzinskih i dizel elektro agregata. Pored proizvodnje i prodaje novih i repariranih polovnih elektro agregata vršimo usluge rentiranja sa mogućnošću instalacije, prevoza na objekat i stalnog prisustva stručnog lica
tags: agregat,agregati,dizel agregat,dizel agregati,rezervno napajanje,ups,rentiranje,iznajmljivanje,elektro agregat,elektro agregati
---

<div class="career">
  <div class="row">
    <div class="col-md-12">
      <!-- Careers Here -->
      <div class="hero">
        <!-- Title. Don't forget the <span> tag -->
        <h1><span>Energoglobal super tihi agregati</span></h1>
        <!-- para -->
        <p></p>
      </div>

      <div class="tabbable tabs-left">
        <!-- Tabs -->
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#benzin" data-toggle="tab">Sa benzinskim motorima</a>
          </li>
          <li><a href="#dizel" data-toggle="tab">Sa dizel motrima</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="benzin">
            <img
              class="img-responsive"
              src="/assets/img/clients/5.png"
              alt="Briggs&amp;Stratton"
              title="Briggs&amp;Stratton"
            />
            <h4>
              Prenosni super tihi agregati koje pokreću Briggs&amp;Stratton
              benzinski motori
            </h4>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="text-center">Model<br />&nbsp;</th>
                    <th class="text-center">Snaga<br />[kVA]</th>
                    <th class="text-center">Snaga<br />[kW]</th>
                    <th class="text-center">Broj faza<br />&nbsp;</th>
                    <th class="text-center">Napon<br />[V]</th>
                    <th class="text-center">Frekvencija<br />[Hz]</th>
                    <th class="text-center">Proizvođač motora<br />&nbsp;</th>
                    <th class="text-center">Model motora<br />&nbsp;</th>
                    <th class="text-center">
                      Zapremina motora<br />cm<sup>3</sup>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for b in site.data.briggs_stratton %} {% if b.start == "E"
                  %}
                  <tr>
                    <th class="text-center">{{ b.model }}-S</th>
                    <td class="text-center">{{ b.snaga_kva }}</td>
                    <td class="text-center">{{ b.snaga_kw }}</td>
                    <td class="text-center">{{ b.broj_faza }}</td>
                    <td class="text-center">{{ b.napon }}</td>
                    <td class="text-center">{{ b.frekvencija }}</td>
                    <td class="text-center">{{ b.motor_proizvodjac }}</td>
                    <td class="text-center">{{ b.motor_model }}</td>
                    <td class="text-center">{{ b.motor_zapremina }}</td>
                  </tr>
                  {% endif %} {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="tab-pane" id="dizel">
            <img
              class="img-responsive"
              src="/assets/img/clients/6.png"
              alt="Lombardini Antor"
              title="Lombardini Antor"
            />
            <h4>
              Prenosni super tihi agregati koje pokreću Lombardini Antor dizel
              motori
            </h4>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="text-center">Model<br />&nbsp;</th>
                    <th class="text-center">Snaga<br />[kVA]</th>
                    <th class="text-center">Snaga<br />[kW]</th>
                    <th class="text-center">Broj faza<br />&nbsp;</th>
                    <th class="text-center">Napon<br />[V]</th>
                    <th class="text-center">Frekvencija<br />[Hz]</th>
                    <th class="text-center">Proizvođač motora<br />&nbsp;</th>
                    <th class="text-center">Model motora<br />&nbsp;</th>
                    <th class="text-center">
                      Zapremina motora<br />cm<sup>3</sup>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for l in site.data.lombardini %} {% if l.start == "E" %}
                  <tr>
                    <th class="text-center">{{ l.model }}-S</th>
                    <td class="text-center">{{ l.snaga_kva }}</td>
                    <td class="text-center">{{ l.snaga_kw }}</td>
                    <td class="text-center">{{ l.broj_faza }}</td>
                    <td class="text-center">{{ l.napon }}</td>
                    <td class="text-center">{{ l.frekvencija }}</td>
                    <td class="text-center">{{ l.motor_proizvodjac }}</td>
                    <td class="text-center">{{ l.motor_model }}</td>
                    <td class="text-center">{{ l.motor_zapremina }}</td>
                  </tr>
                  {% endif %} {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="gallery">
    <img
      class="img-responsive"
      src="/assets/img/prenosni_super_tihi.png"
      alt="Prenosni super tihi agregat"
      title="Prenosni super tihi agregat"
    />
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12">
    <div class="cta">
      <p>
        <span class="label label-info">Stand by</span> Stand by snaga je
        dostupna kao nužno napajanje pri promenljivom opterećenju u skladu sa
        ISO 8528-1.
      </p>
      <p>
        <span class="label label-info">Prime</span> Prime snaga je dostupna za
        neograničen broj radnih sati pri promenljivom opterećenju, u skladu sa
        ISO 8528-1.
      </p>
      <p class="text-muted">
        U skladu sa standardom, nominalna snaga agregata je data za 25°C usisnog
        vazduha, ili barometarskog pritiska od 100 kPA (100 m N.V.), i 30 %
        relativne vlažnosti. Za posebne uslove instalacije kontaktirajte
        Energoglobal.
      </p>
    </div>
  </div>
</div>
{% include clients.html %}
