---
layout: default
title: Benzinski agregati | Prenosni benzinski agregati
excerpt: Energoglobal vam nudi najbolji kvalitet uz najpovoljnije cene benzinskih i dizel elektro agregata. Pored proizvodnje i prodaje novih i repariranih polovnih elektro agregata vršimo usluge rentiranja sa mogućnošću instalacije, prevoza na objekat i stalnog prisustva stručnog lica
tags: agregat,agregati,dizel agregat,dizel agregati,rezervno napajanje,ups,rentiranje,iznajmljivanje,elektro agregat,elektro agregati,benzinski agregati
---

<div class="career">
  <div class="row">
    <div class="col-md-12">
      <!-- Careers Here -->
      <div class="hero">
        <!-- Title. Don't forget the <span> tag -->
        <h1><span>Energoglobal prenosni benzinski agregati</span></h1>
        <!-- para -->
        <p></p>
      </div>

      <div>
        <h3>Briggs&amp;Stratton</h3>
        <p>
          Prenosni agregati koje pokreću Briggs&amp;Stratton benzinski motori
        </p>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="text-center">Model<br />&nbsp;</th>
                <th class="text-center">Snaga<br />[kVA]</th>
                <th class="text-center">Snaga<br />[kW]</th>
                <th class="text-center">Broj faza<br />&nbsp;</th>
                <th class="text-center">Napon<br />[V]</th>
                <th class="text-center">Frekvencija<br />[Hz]</th>
                <th class="text-center">Proizvođač motora<br />&nbsp;</th>
                <th class="text-center">Model motora<br />&nbsp;</th>
                <th class="text-center">
                  Zapremina motora<br />cm<sup>3</sup>
                </th>
                <th class="text-center">Start<br />&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for b in site.data.briggs_stratton %}
              <tr>
                <th class="text-center">{{ b.model }}</th>
                <td class="text-center">{{ b.snaga_kva }}</td>
                <td class="text-center">{{ b.snaga_kw }}</td>
                <td class="text-center">{{ b.broj_faza }}</td>
                <td class="text-center">{{ b.napon }}</td>
                <td class="text-center">{{ b.frekvencija }}</td>
                <td class="text-center">{{ b.motor_proizvodjac }}</td>
                <td class="text-center">{{ b.motor_model }}</td>
                <td class="text-center">{{ b.motor_zapremina }}</td>
                <td class="text-center">
                  {% if b.start == "E" %} elektro {% else %} ručni {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12">
    <div class="cta">
      <p>
        <span class="label label-info">Start</span> Ručni start označava da se
        agregat startuje poteznicom.
      </p>
      <p>
        <span class="label label-info">Start</span> Elektro start označava da se
        agregat startuje uz pomoć anlasera.
      </p>
      <p class="text-muted">
        U skladu sa standardom, nominalna snaga agregata je data za 25°C usisnog
        vazduha, ili barometarskog pritiska od 100 kPA (100 m N.V.), i 30 %
        relativne vlažnosti. Za posebne uslove instalacije kontaktirajte
        Energoglobal.
      </p>
    </div>
  </div>
</div>
{% include clients.html %}
