---
layout: default
title: Prodaja dizel agregata
excerpt: Kada je u pitanju prodaja dizel agregata nastojimo da odgovorimo na potrebe trzišta i pružimo maksimalan kvalitet po konkurentnim cenama.
tags: agregat,agregati,dizel agregat,dizel agregati,rezervno napajanje,ups,rentiranje,iznajmljivanje,elektro agregat,elektro agregati,socomec,neprekidno napajanje
---

<div class="faq">
  <div class="row">
    <div class="col-md-12">
      <div class="hero">
        <h1><span>Prodaja dizel agregata</span></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        Kada je u pitanju prodaja dizel agregata nastojimo da odgovorimo na
        potrebe trzišta i pružimo maksimalan kvalitet po konkurentnim cenama.
      </p>
      <p>
        U našoj ponudi možete pronaći veliki izbor
        <a href="/stacionarni-dizel-agregati.html"
          >stacionarnih dizel agregata</a
        >
        koje pokreću motori renomiranih proizvodjača FTP Iveco, Perkins, Volvo
        Penta i Doosan. Naši agregati se odlikuju niskim nivoom buke, malom
        potrošnjom goriva i emisijom izduvnih gasova u skladu sa normama
        Evropske unije.
      </p>
      <p>
        Pored stacionarnih dizel agregata na prodaju imamo i prenosne agregate
        koje pokreću Lombardini dizel motori, zatim agregati koje pokreću
        <a href="/prenosni-benzinski-agregati.html"
          >Briggs&Stratton benzinski motori</a
        >
        i Energoglobal super tihe agregate.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img
        class="img-responsive"
        src="/assets/img/prodaja/prodaja_01.jpg"
        alt="Prodaja dizel agregata"
      />
    </div>
    <div class="col-md-6">
      <img
        class="img-responsive"
        src="/assets/img/prodaja/prodaja_02.jpg"
        alt="Prodaja dizel agregata"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        Javite nam se na email
        <a href="mailto:prodaja@energoglobal.com">prodaja@energoglobal.com</a>
        ili broj telefona +381 21 499 315 i sastavićemo ponudu koja najviše
        odgovara vašim potrebama.
      </p>
    </div>
  </div>
</div>
<div class="clearfix"></div>
{% include clients.html %}
