---
layout: default
title: Servis i usluge | Održavanje, renitranje agregata, remont,...
excerpt: Energoglobal vam nudi najbolji kvalitet uz najpovoljnije cene benzinskih i dizel elektro agregata. Pored proizvodnje i prodaje novih i repariranih polovnih elektro agregata vršimo usluge rentiranja sa mogućnošću instalacije, prevoza na objekat i stalnog prisustva stručnog lica
tags: agregat,agregati,dizel agregat,dizel agregati,rezervno napajanje,ups,rentiranje,iznajmljivanje,elektro agregat,elektro agregati,servis,usluge,popravka,modernizacija,automatizacija,reparacija
---
<!-- Features hero -->
<div class="hero">
  <!-- Title. Don't forget the <span> tag -->
    <h1><span>Servis i usluge</span></h1>
    <!-- para -->
    <p>
      Dugoročni operativni dokazi podržavaju naša uverenja da će redovni pregledi generatora i motora produžiti vek agregata. Energoglobal d.o.o. nudi rigorozna testiranja za kupce koji žele da imaju svoju proizvodnju električne energije, oprema se pregleda na zahtev bilo na terenu ili kod nas.
    </p>
    <p>
      Ovi pregledi idu dalje od provere sistema za gorivo, podmazivanja, zamene filtera (vazduha, ulja, goriva), kablova električnog pokretača (startera), nivo elektrolita baterije i unutrašnjih električnih sistema. Naš proces provere je u stvari jedan od najdetaljnijih orjentisanih aspekata našeg poslovanja.
    </p>
    <p>
      Tokom procesa pregleda ne ostavljamo previde. Energoglobal d.o.o. pregled obuhvata:
      <ul>
        <li><i class="fa fa-angle-right"></i>Ispitivanje opreme, uključujući i spoljašnje i unutrašnje stanje od strane naših servisera</li>
        <li><i class="fa fa-angle-right"></i>Identifikovanje potrebnih usluga i popravki</li>
        <li><i class="fa fa-angle-right"></i>Izvršavanje neophodnih popravki</li>
        <li><i class="fa fa-angle-right"></i>Garantuje da je svaki uređaj ispravan</li>
      </ul>
    </p>
</div>

<!-- Features -->

<div class="ifeature">
  <div class="ifeat">
    <div class="row">

      <div class="col-md-6 col-sm-6">
        <h4>Redovno i havarisko održavanje agregatskih stanica</h4>
        <p>
          Energoglobal d.o.o. je za svoje korisnike pripremio više nivoa održavanja dizel agregatskih postrojenja.
        </p>
        <p>
          Redovno održavanje agregata od strane Energoglobal d.o.o. servisa omogućava sigurnost i pouzdanost vašeg agregata kao i produžetak veka trajanja i njegove ukupne vrednosti.
        </p>
        <p>
          <h5>Pregled i servis dizel motora:</h5>
          <ul>
            <li><i class="fa fa-angle-right"></i>Vizuelni pregled agregata</li>
            <li><i class="fa fa-angle-right"></i>Zamena ulјa u motoru</li>
            <li><i class="fa fa-angle-right"></i>Zamena rashladne tečnosti u sistemu hlađenja – za motore sa vodenim hlađenjem</li>
            <li><i class="fa fa-angle-right"></i>Zamena filtera ulja i goriva</li>
            <li><i class="fa fa-angle-right"></i>Kontrola i pritezanje cevi za dovod goriva na ubrizgačima</li>
            <li><i class="fa fa-angle-right"></i>Pregled i podešavanje klinastih remena za pogon ventilator</li>
            <li><i class="fa fa-angle-right"></i>Pregled i pritezanje svih gumenih spojeva</li>
            <li><i class="fa fa-angle-right"></i>Pregled, čišćenje ili zamena filtera vazduha</li>
            <li><i class="fa fa-angle-right"></i>Kontrola i pregled elektropokretača (četkice, kolektor itd.)</li>
            <li><i class="fa fa-angle-right"></i>Kontrola rada elektromotorne i ručne pumpe za gorivo i davača nivoa goriva </li>
            <li><i class="fa fa-angle-right"></i>Provera i zamena baterije</li>
          </ul>
        </p>
        <p>
          <h5>Pregled i servis generatora:</h5>
          <ul>
            <li><i class="fa fa-angle-right"></i>Pregled električne spone između motora i generator</li>
            <li><i class="fa fa-angle-right"></i>Pregled i po potrebi zamena četkica generator ili kolektora rotirajućeg ispravljača</li>
            <li><i class="fa fa-angle-right"></i>Poliranje kliznih prstenova</li>
            <li><i class="fa fa-angle-right"></i>Podmazivanje ležajeva</li>
            <li><i class="fa fa-angle-right"></i>Test otpora izolacije generatora</li>
          </ul>
        </p>
        <p>
          <h5>Pregled i servis razvodnog ormana sa pripadajućom upravljačkom automatikom:</h5>
          <ul>
            <li><i class="fa fa-angle-right"></i>Pregled i ispitivanje funkcionalnosti svih mernih podsklopova</li>
            <li><i class="fa fa-angle-right"></i>Kontrola rada ventilatora prostorije i pokretnih žaluzina na sistemu dovoda i odvoda zraka</li>
            <li><i class="fa fa-angle-right"></i>Ispitivanje funkcionalnosti upravljačke automatike u svim režimima rada</li>
            <li><i class="fa fa-angle-right"></i>Simuliranje i ispitivanje svih vitalnih alarma</li>
            <li><i class="fa fa-angle-right"></i>Provera i zamena automatskog punjača baterije</li>
          </ul>
        </p>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="/assets/img/photos/1.jpg" alt="Redovno i havarisko održavanje" class="img-responsive" />
      </div>

      <div class="clearfix"></div>
    </div>
  </div>

  <div class="ifeat">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img src="/assets/img/photos/2.jpg" alt="Automatizacija i remont" class="img-responsive" />
      </div>
      <div class="col-md-6 col-sm-6">
        <h4>Automatizacija i remont</h4>
        <p>
          Energoglobal d.o.o. vrši modernizaciju starih sistema automatike. Vrši ugradnju nove opreme za automatski start agregata i praćenje (nadzor) svih bitnih parametara agregata.
        </p>
        <p>
          Energoglobal d.o.o. vrši remont i rekonstrukciju “zastarelih” ili neispravnih agregata i opreme. To podrazumeva u zavisnosti od vrste remonta:
          <ul>
            <li><i class="fa fa-angle-right"></i>Isključenje agregata</li>
            <li><i class="fa fa-angle-right"></i>Demontažu i defektažu</li>
            <li><i class="fa fa-angle-right"></i>Konstrukciju novih sklopova ili rekonstrukciju</li>
            <li><i class="fa fa-angle-right"></i>Nabavku novih delova </li>
            <li><i class="fa fa-angle-right"></i>Farbanje agregata</li>
            <li><i class="fa fa-angle-right"></i>Montažu i puštanje u rad</li>
          </ul>
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="ifeat">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h4>Rezervni delovi</h4>
        <ul>
          <li><i class="fa fa-angle-right"></i>Filteri</li>
          <li><i class="fa fa-angle-right"></i>Ulje</li>
          <li><i class="fa fa-angle-right"></i>Kontroleri</li>
          <li><i class="fa fa-angle-right"></i>Generatori</li>
          <li><i class="fa fa-angle-right"></i>Regulatori napona</li>
          <li><i class="fa fa-angle-right"></i>Punjači baterija</li>
          <li><i class="fa fa-angle-right"></i>Grejači rashladne tečnosti</li>
          <li><i class="fa fa-angle-right"></i>Ostalo</li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="/assets/img/photos/3.jpg" alt="Rezervni delovi" class="img-responsive" />
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="ifeat">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img src="/assets/img/photos/4.jpg" alt="Rentiranje iznajmljivanje dizel agregata" class="img-responsive" />
      </div>
      <div class="col-md-6 col-sm-6">
        <h4>Projektovanje i izrada dizel-agregatskih stanica</h4>
        <ul>
          <li><i class="fa fa-angle-right"></i>Idejna rešenja sa odabirom opreme</li>
          <li><i class="fa fa-angle-right"></i>Gradjevinski radovi</li>
          <li><i class="fa fa-angle-right"></i>Isporuka i montaža opreme</li>
          <li><i class="fa fa-angle-right"></i>Mašinski radovi</li>
          <li><i class="fa fa-angle-right"></i>Elektro radovi</li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
