---
layout: default
title: Dizel agregati | Stacionarni (industrijski) dizel agregati
excerpt: Energoglobal vam nudi najbolji kvalitet uz najpovoljnije cene benzinskih i dizel elektro agregata. Pored proizvodnje i prodaje novih i repariranih polovnih elektro agregata vršimo usluge rentiranja sa mogućnošću instalacije, prevoza na objekat i stalnog prisustva stručnog lica
tags: agregat,agregati,dizel agregat,dizel agregati,rezervno napajanje,ups,rentiranje,iznajmljivanje,elektro agregat,elektro agregati,perkins,volvo,penta,iveco,fpt,doosan,linz,marelli,mecc alte,stamford
---

<div class="career">
  <div class="row">
    <div class="col-md-12">
      <!-- Careers Here -->
      <div class="hero">
        <!-- Title. Don't forget the <span> tag -->
        <h1><span>Energoglobal stacionarni agregati</span></h1>
        <!-- para -->
        <p>
          <img
            src="/assets/img/eg_agregati0.png"
            alt="Energoglobal - Pouzdana energija"
            class="img-responsive"
          />
        </p>
      </div>

      <div class="tabbable tabs-left">
        <!-- Tabs -->
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#iveco" data-toggle="tab">FPT Iveco powered</a>
          </li>
          <li><a href="#perkins" data-toggle="tab">Perkins powered</a></li>
          <li><a href="#volvo" data-toggle="tab">Volvo powered</a></li>
          <li><a href="#doosan" data-toggle="tab">Doosan powered</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="iveco">
            <h3>FPT Iveco</h3>
            <img
              class="img-responsive"
              src="/assets/img/clients/1.png"
              alt="FPT Iveco logo"
            />
            <p>Agregati koje pokreću FPT Iveco dizel motori</p>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="text-center">Model<br />&nbsp;</th>
                    <th class="text-center">Stand by<br />[kVA]</th>
                    <th class="text-center">Prime<br />[kVA]</th>
                    <th class="text-center">Napon<br />[V]</th>
                    <th class="text-center">Frekvencija<br />[Hz]</th>
                    <th class="text-center">cos φ<br />&nbsp;</th>
                    <th class="text-center">Proizvođač motora<br />&nbsp;</th>
                    <th class="text-center">Model motora<br />&nbsp;</th>
                    <th class="text-center">Detaljnije<br />&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in site.data.iveco %}
                  <tr>
                    <th class="text-center">{{ i.model }}</th>
                    <td class="text-center">{{ i.snaga_stand_by }}</td>
                    <td class="text-center">{{ i.snaga_prime }}</td>
                    <td class="text-center">230 / 400</td>
                    <td class="text-center">50</td>
                    <td class="text-center">0,8</td>
                    <td class="text-center">{{ i.proizvodjac_motora }}</td>
                    <td class="text-center">{{ i.model_motora }}</td>
                    <td class="text-center">
                      <a
                        target="_blank"
                        href="/assets/download/{{ i.model }}.pdf"
                        ><i class="fa fa-download"></i
                      ></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="tab-pane" id="perkins">
            <h3>Perkins</h3>
            <img
              class="img-responsive"
              src="/assets/img/clients/2.png"
              alt="Perkins logo"
            />
            <p>Agregati koje pokreću Perkins dizel motori</p>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="text-center">Model<br />&nbsp;</th>
                    <th class="text-center">Stand by<br />[kVA]</th>
                    <th class="text-center">Prime<br />[kVA]</th>
                    <th class="text-center">Napon<br />[V]</th>
                    <th class="text-center">Frekvencija<br />[Hz]</th>
                    <th class="text-center">cos φ<br />&nbsp;</th>
                    <th class="text-center">Proizvođač motora<br />&nbsp;</th>
                    <th class="text-center">Model motora<br />&nbsp;</th>
                    <th class="text-center">Detaljnije<br />&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {% for p in site.data.perkins %}
                  <tr>
                    <th class="text-center">{{ p.model }}</th>
                    <td class="text-center">{{ p.snaga_stand_by }}</td>
                    <td class="text-center">{{ p.snaga_prime }}</td>
                    <td class="text-center">230 / 400</td>
                    <td class="text-center">50</td>
                    <td class="text-center">0,8</td>
                    <td class="text-center">{{ p.proizvodjac_motora }}</td>
                    <td class="text-center">{{ p.model_motora }}</td>
                    <td class="text-center">
                      <a
                        target="_blank"
                        href="/assets/download/{{ p.model }}.pdf"
                        ><i class="fa fa-download"></i
                      ></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="tab-pane" id="volvo">
            <h3>Vovlo Penta</h3>
            <img
              class="img-responsive"
              src="/assets/img/clients/3.png"
              alt="Volvo Penta logo"
            />
            <p>Agregati koje pokreću Volvo Penta dizel motori</p>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="text-center">Model<br />&nbsp;</th>
                    <th class="text-center">Stand by<br />[kVA]</th>
                    <th class="text-center">Prime<br />[kVA]</th>
                    <th class="text-center">Napon<br />[V]</th>
                    <th class="text-center">Frekvencija<br />[Hz]</th>
                    <th class="text-center">cos φ<br />&nbsp;</th>
                    <th class="text-center">Proizvođač motora<br />&nbsp;</th>
                    <th class="text-center">Model motora<br />&nbsp;</th>
                    <th class="text-center">Detaljnije<br />&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {% for v in site.data.volvo %}
                  <tr>
                    <th class="text-center">{{ v.model }}</th>
                    <td class="text-center">{{ v.snaga_stand_by }}</td>
                    <td class="text-center">{{ v.snaga_prime }}</td>
                    <td class="text-center">230 / 400</td>
                    <td class="text-center">50</td>
                    <td class="text-center">0,8</td>
                    <td class="text-center">{{ v.proizvodjac_motora }}</td>
                    <td class="text-center">{{ v.model_motora }}</td>
                    <td class="text-center">
                      <a
                        target="_blank"
                        href="/assets/download/{{ v.model }}.pdf"
                        ><i class="fa fa-download"></i
                      ></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="tab-pane" id="doosan">
            <h3>Doosan</h3>
            <img
              class="img-responsive"
              src="/assets/img/clients/4.png"
              alt="Doosan logo"
            />
            <p>Agregati koje pokreću Doosan dizel motori</p>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="text-center">Model<br />&nbsp;</th>
                    <th class="text-center">Stand by<br />[kVA]</th>
                    <th class="text-center">Prime<br />[kVA]</th>
                    <th class="text-center">Napon<br />[V]</th>
                    <th class="text-center">Frekvencija<br />[Hz]</th>
                    <th class="text-center">cos φ<br />&nbsp;</th>
                    <th class="text-center">Proizvođač motora<br />&nbsp;</th>
                    <th class="text-center">Model motora<br />&nbsp;</th>
                    <th class="text-center">Detaljnije<br />&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {% for d in site.data.doosan %}
                  <tr>
                    <th class="text-center">{{ d.model }}</th>
                    <td class="text-center">{{ d.snaga_stand_by }}</td>
                    <td class="text-center">{{ d.snaga_prime }}</td>
                    <td class="text-center">230 / 400</td>
                    <td class="text-center">50</td>
                    <td class="text-center">0,8</td>
                    <td class="text-center">{{ d.proizvodjac_motora }}</td>
                    <td class="text-center">{{ d.model_motora }}</td>
                    <td class="text-center">
                      <!--<a target="_blank" href="/assets/download/{{ d.model }}.pdf"><i class="fa fa-download"></i></a>-->
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12">
    <div class="cta">
      <p>
        <span class="label label-info">Stand by</span> Stand by snaga je
        dostupna kao nužno napajanje pri promenljivom opterećenju u skladu sa
        ISO 8528-1.
      </p>
      <p>
        <span class="label label-info">Prime</span> Prime snaga je dostupna za
        neograničen broj radnih sati pri promenljivom opterećenju, u skladu sa
        ISO 8528-1.
      </p>
      <p class="text-muted">
        U skladu sa standardom, nominalna snaga agregata je data za 25°C usisnog
        vazduha, ili barometarskog pritiska od 100 kPA (100 m N.V.), i 30 %
        relativne vlažnosti. Za posebne uslove instalacije kontaktirajte
        Energoglobal.
      </p>
    </div>
  </div>
</div>
{% include clients.html %}
