---
layout: default
title: UPS uređaji | Uređaji besprekidnog napajanja
excerpt: Energoglobal vam nudi najbolji kvalitet uz najpovoljnije cene benzinskih i dizel elektro agregata. Pored proizvodnje i prodaje novih i repariranih polovnih elektro agregata vršimo usluge rentiranja sa mogućnošću instalacije, prevoza na objekat i stalnog prisustva stručnog lica
tags: agregat,agregati,dizel agregat,dizel agregati,rezervno napajanje,ups,rentiranje,iznajmljivanje,elektro agregat,elektro agregati,socomec,neprekidno napajanje
---

<div class="faq">
  <div class="row">
    <div class="col-md-12">
      <!-- Careers Here -->
      <div class="hero">
        <!-- Title. Don't forget the <span> tag -->
        <h1><span>U S K O R O</span></h1>
        <p>
          <img src="/assets/img/socomec_ups.jpg" alt="Socomec UPS" class="img-responsive">
        </p>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
{% include clients.html %}
