<!-- Clients starts -->
<div class="row">
  <div class="col-md-12">
    <div class="clients">
      <img class="img-responsive" src="/assets/img/clients/1.png" alt="Iveco" title="Iveco" />
      <img class="img-responsive" src="/assets/img/clients/2.png" alt="Perkins" title="Perkins" />
      <img class="img-responsive" src="/assets/img/clients/3.png" alt="Volvo" title="Volvo" />
      <img class="img-responsive" src="/assets/img/clients/4.png" alt="Doosan" title="Doosan" />
      <img class="img-responsive" src="/assets/img/clients/5.png" alt="Briggs&Stratton" title="Briggs&Stratton" />
      <img class="img-responsive" src="/assets/img/clients/6.png" alt="Lombardini Antor" title="Lombardini Antor" />
    </div>
  </div>
</div>
<!-- Clients ends -->
