{% if page.gallery.size > 0 %}
<!-- Gallery starts -->

<div class="gallery">
  <div class="row">
    <div class="col-md-12">

      <!-- Gallery hero -->
      <div class="hero">
        <!-- Title. Don't forget the <span> tag -->
          <h3><span>Slike</span></h3>
          <!-- para -->
          <p></p>
        </div>
        <!-- Gallery -->

        <div id="gallery">
          <!-- For image lightbox you need to include "a" tag pointing to image link, along with the class "prettyphoto".-->
          {% for img in page.gallery %}
          <a href="/assets/img/{{ img }}" class="prettyphoto" rel="prettyphoto[image_map]">
            <img src="/assets/img/{{ img }}" alt="{{ img }}"/>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

<!-- gallery ends -->
{% endif %}
