---
layout: default
title: Novosti
---

<div class="row blog">
  <div class="col-md-12 col-sm-12">
    <div class="posts">
    {% for post in paginator.posts %}
      <div class="entry">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="meta">
          <i class="fa fa-calendar"></i> {{ post.date | date_to_string }}
          <i class="fa fa-folder-open"></i>
          {% for category in post.categories %}
            <a href="#">{{ category }}</a>
          {% endfor %}
          <span class="pull-right">
            <i class="fa fa-tags"></i>
            {% for tag in post.tags %}
            <a href="#">{{ tag }}</a>
            {% endfor %}
          </span>
        </div>
        <div class="bthumb2 bthumbleft">
          <a href="{{ post.url }}"><img src="/assets/img/{{ post.excerpt_img }}" alt="{{ post.title }}" class="img-responsive" /></a>
        </div>
        <p>
          {{post.content }}
        </p>
        <div class="button"><a href="{{ post.url }}">Više...</a></div>
      </div>
    {% endfor %}
      <div class="paging">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-arrow-circle-left"></i></a>
        {% else %}
        <span class="previous"><i class="fa fa-arrow-circle-left"></i></span>
        {% endif %}
        <span class="page_number ">Strana: {{ paginator.page }} od {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-arrow-circle-right"></i></a>
        {% else %}
        <span class="next "><i class="fa fa-arrow-circle-right"></i></span>
        {% endif %}
      </div>
    </div>
  </div>
</div>

