<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Title here -->
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="{{ page.excerpt }}">
    <meta name="keywords" content="{{ page.tags }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Flex Slider CSS -->
    <link href="/assets/css/flexslider.css" rel="stylesheet">
    <!-- Pretty Photo -->
    <link href="/assets/css/prettyPhoto.css" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <!-- Color Stylesheet - orange, blue, pink, brown, red or green-->
    <link href="/assets/css/red.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.png?v=2">

    <!-- Google -->
    <meta name="google-site-verification" content="EymwX2_ajC5mHf8loQlVdLE2dRCVxgLR8CGAl6dPQI4" />
  </head>

  <body>

    <!-- Header starts -->

    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <!-- Logo and site link -->
            <div class="logo">
              <h1><a href="/"><img class="img-responsive" src="/assets/img/logo-s.png" alt="EnergoGlobal - Pouzdana energija" title="EnergoGlobal - Pouzdana energija"/></a></h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-sm-offset-4 col-md-offset-4">
            <div class="list">
              <!-- Add your phone number here -->
              <div class="phone">
                <i class="fa fa-phone"></i> Telefon/faks: +381 21 499315
              </div>
              <hr />
              <!-- Add your email id here -->
              <div class="email">
                <i class="fa fa-envelope-o"></i> Email: prodaja@energoglobal.com
              </div>
              <hr />
              <!-- Add your address here -->
              <div class="address">
                <i class="fa fa-home"></i> Adresa: Fruškogorska57, Futog, Srbija
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Header ends -->

    <!-- Navigation Starts -->

    <!-- Note down the syntax before editing. It is the default twitter bootstrap navigation -->

    <div class="navbar bs-docs-nav" role="banner">

      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <!-- Navigation links starts here -->
          <ul class="nav navbar-nav">
            <!-- Main menu -->
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/stacionarni-dizel-agregati.html">Dizel agregati</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Prenosni agregati <b class="caret"></b></a>
              <!-- Submenus -->
              <ul class="dropdown-menu">
                <li><a href="/prenosni-dizel-agregati.html">Dizel agregati</a></li>
                <li><a href="/prenosni-benzinski-agregati.html">Benzinski agregati</a></li>
                <li><a href="/prenosni-supertihi-agregati.html">Super tihi agregati</a></li>
              </ul>
            </li>
            <li><a href="/ups-uredjaji.html">UPS uređaji</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usluge <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/servis-i-usluge.html">Servis i usluge</a></li>
                <li><a href="/rentiranje-iznajmljivanje-agregata.html">Iznajmljivanje agregata</a></li>
                <li><a href="/prodaja-dizel-agregata.html">Prodaja agregata</a></li>
              </ul>
            </li>
            <li><a href="/download-tehnicki-podaci-agregata.html">Download</a></li>
            <li><a href="/novosti/">Novosti</a></li>
            <li><a href="/kontakt.html">Kontakt</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Navigation Ends -->
    <!-- Content strats -->

    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <!-- Content ends -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <!-- Widget 1 -->
            <div class="widget">
              <h4>O nama</h4>
              <p>
                  Energoglobal doo vrši prodaju novih, kao i generalno repariranih polovnih dizel električnih agregata. Pored prodaje dizel agregata vršimo i servis što obuhvata hitne intervencije i redovno održavanje. Posedujemo flotu od više agregata različitih snaga i vršimo usluge rentiranja dizel agregata sa mogućnošću instalacije, prevoza na objekat i stalnog prisustva stručnog lica.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <!-- Widget 2 -->
            <div class="widget">
              <h4>Vesti</h4>
              <ul>
                {% for post in site.posts limit:4 %}
                <li><i class="fa fa-angle-right"></i><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <!-- Widget 3 -->
            <div class="widget">
              <h4>Agregati</h4>
              <ul>
                <li><i class="fa fa-angle-right"></i><a href="/stacionarni-dizel-agregati.html">Energoglobal stacionarni agregati</a></li>
                <li><i class="fa fa-angle-right"></i><a href="/prenosni-dizel-agregati.html">Energoglobal prenosni dizel agregati</a></li>
                <li><i class="fa fa-angle-right"></i><a href="/prenosni-benzinski-agregati.html">Energoglobal prenosni benzinski agregati</a></li>
              </ul>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12"><p class="copy">
              <div class="social">
                <a href="https://www.facebook.com/energoglobaldoo/"><i class="fa fa-facebook facebook"></i></a>
                <a href="https://twitter.com/energoglobal"><i class="fa fa-twitter twitter"></i></a>
                <a href="http://www.linkedin.com/company/energoglobal-doo"><i class="fa fa-linkedin linkedin"></i></a>
                <a href="https://www.instagram.com/energoglobal/"><i class="fa fa-instagram instagram"></i></a>
              </div>
              Copyright &copy; <a href="http://www.energoglobal.com/">{{ site.name }}</a></p></div>
        </div>
      </div>
    </footer>

    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span>

    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="/assets/js/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Isotope, Pretty Photo JS -->
    <script src="/assets/js/jquery.isotope.js"></script>
    <script src="/assets/js/jquery.prettyPhoto.js"></script>
    <!-- Support Page Filter JS -->
    <script src="/assets/js/filter.js"></script>
    <!-- Flex slider JS -->
    <script src="/assets/js/jquery.flexslider-min.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="/assets/js/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="/assets/js/html5shiv.js"></script>
    <!-- Social Click Share plugin -->
    <script src="/assets/js/social-click-share.min.js"></script>
    <!-- Custom JS -->
    <script src="/assets/js/custom.js"></script>
    <script>
      /* Flex Slider */

      $(window).load(function() {
        $('.flexslider').flexslider({
          animation: "slide",
          controlNav: true,
          pauseOnHover: true,
          slideshowSpeed: 8000
        });
      });
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
          try {
            w.yaCounter22115734 = new Ya.Metrika({id:22115734,
                                                 webvisor:true,
                                                 clickmap:true,
                                                 trackLinks:true,
                                                 accurateTrackBounce:true});
          } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/22115734" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Google Analytis -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12892171-16', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- /Google Analytis -->
  </body>
</html>
