---
layout: default
---
<!-- Slider (Flex Slider -->

<div class="flexslider">
  <ul class="slides">
    <!-- Each slide should be enclosed inside li tag. -->

    <!-- Slide #1 -->
    <li>
      <!-- Image -->
      <img src="/assets/img/photos/1.jpg" alt="Dizel agreati proizvodnja i prodaja" />
      <!-- Caption -->
      <div class="flex-caption">
        <!-- Title -->
        <h3><span>Redovno i havarisko održavanje agregatskih stanica</span></h3>
        <!-- Para -->
        <p>Redovno održavanje agregata od strane Energoglobal d.o.o. servisa omogućava sigurnost i pouzdanost vašeg agregata kao i produžetak veka trajanja i njegove ukupne vrednosti.</p>
      </div>
    </li>

    <!-- Slide #2 -->
    <li>
      <img src="/assets/img/photos/2.jpg" alt="Automatizacija agregata agregat" />
      <div class="flex-caption">
        <h3><span>Automatizacija i remont</span></h3>
        <p>Energoglobal d.o.o. vrši modernizaciju starih sistema automatike. Vrši ugradnju nove opreme za automatski start agregata i praćenje (nadzor) svih bitnih parametara agregata.</p>
      </div>
    </li>

    <li>
      <img src="/assets/img/photos/3.jpg" alt="Servis agregata, rezervni delovi" />
      <div class="flex-caption">
        <h3><span>Rezervni delovi</span></h3>
        <p>Energoglobal d.o.o. nudi širok spektar rezervnih delova za dizel i benzinske agregate, što uključuje isporuku i stručnu zamenu.</p>
      </div>
    </li>

    <li>
      <img src="/assets/img/photos/4.jpg" alt="Projektovanje, instalacije dizel agregata" />
      <div class="flex-caption">
        <h3><span>Projektovanje i izrada dizel-agregatskih stanica</span></h3>
        <p>Energoglobal d.o.o. za svoje klijente vriši izradu idejna rešenja sa odabirom opreme, kompletno projektovanje, gadjevinske radove, isporuku i montažu opreme, mašinske radove, elektro radove</p>
      </div>
    </li>

    <li>
      <img src="/assets/img/photos/5.jpg" alt="Iznajmnjivanje rentiranje agregata" />
      <div class="flex-caption">
        <h3><span>Zakup (rentiranje) elektro agregata</span></h3>
        <p>Energoglobal d.o.o. svojim klijentima omogužava zakup (renitranje) dizel i benzinskih agregata. U ponudi imamo agregate od 10 do 1000 kW.</p>
      </div>
    </li> 

  </ul>
</div>

<!-- Slider ends -->

<!-- Service starts -->

<div class="services">
  <div class="row">
    <div class="col-md-4">

      <!-- Service #1 -->
      <div class="service">
        <!-- Icon & title. Font Awesome icon used. -->
        <h5><span><i class="fa fa-cog"></i> Proizvodnja</span></h5>
        <p>
          Energoglobal proizvodi dizel i benzinske elektro agregate koristeći komponente renomiranih evropskih i svetskih proizvođača: Iveco, Perkins, Volvo, Briggs&amp;Stratton, Linz, Marelli, Mecc Alte.
        </p>
      </div>

    </div>
    <div class="col-md-4">

      <!-- Service #2 -->
      <div class="service">
        <!-- Icon & title. Font Awesome icon used. -->
        <h5><span><i class="fa fa-shopping-cart"></i> Prodaja</span></h5>
        <p>
          Energoglobal vrši prodaju dizel i beniznskih elektro agregata iz svog proizvodnog progama, kao i iz proizvodnih programa partnerskih kompanija Cummins, Socomec.
        </p>
      </div>                     

    </div>
    <div class="col-md-4">

      <!-- Service #3 -->
      <div class="service">
        <!-- Icon & title. Font Awesome icon used. -->
          <h5><span><i class="fa fa-wrench"></i> Servis</span></h5>
          <p>
            EnergoGlobal je specijalizovan i za vršenje usluga servisa i održavanja rezervnih izvora napajanja, kao i nabavku odgovorajućih rezervnih delova i pomoćnog materijala za te potrebe.
          </p>
      </div>  

    </div>
  </div>
</div>

<!-- Serivce ends -->

<!-- CTA starts -->
{{ content }}
<!-- CTA Ends -->

<!-- Recent post starts. Note down the class name before editing. -->

<div class="rposts">
  <h2><a href="/novosti/">Novosti</a></h2>
  <div class="row">
    {% for post in site.posts limit:4 %}
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="rpost1">
        <div class="rimg">
          <a href="{{ post.url }}">
            <img src="/assets/img/{{ post.excerpt_img }}" alt="{{ post.title }}" class="img-responsive" />
          </a>
        </div>
        <!-- Title & Para -->
        <div class="rdetails">
          <h5><a href="{{post.url}}">{{ post.title }}</a></h5>
          <p>{{ post.excerpt }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Recent post ends -->

{% include clients.html %}
