---
layout: default
---

<div class="blog">
  <h1>{{ page.title }}</h1>
  <p class="meta">
    <i class="fa fa-calendar"></i> {{ page.date | date_to_string }}
    <i class="fa fa-folder-open"></i>
    {% for category in page.categories %}
    <a href="#">{{ category }}</a>
    {% endfor %}
    <span class="pull-right">
      <i class="fa fa-tags"></i>
      {% for tag in page.tags %}
      <a href="#">{{ tag }}</a>
      {% endfor %}
    </span>
  </p>

  <div class="post">
    {{ content }}
  </div>
  {% include gallery.html %}
  <div>
    Podelite na društvenim mrežama:<br />
    <button
      type="button"
      class="btn btn-light socialClicker"
      data-network="twitter"
    >
      <i class="fa fa-twitter"></i> Twitter
    </button>
    <button
      type="button"
      class="btn btn-light socialClicker"
      data-network="facebook"
    >
      <i class="fa fa-facebook"></i> Facebook
    </button>
    <button
      type="button"
      class="btn btn-light socialClicker"
      data-network="linkedin"
    >
      <i class="fa fa-linkedin"></i> Linkedin
    </button>
  </div>
</div>
